/* основной цвет текста #757575 */
/* цвет текста шапки #ffffff */
/* цвет текста заголовков  #212121 */
/*  акцент #2196F3 */
/* дополнительный цвет фона  #F5F4FA */
/* фон героя #2F303A */


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}


body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}


/* Logo */

.logo-header{

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;


letter-spacing: 0.03em;

color: var(--accent-color);}

/* Navigation */

.nav-list .nav-link,
.contacts .contact-list {
    color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus,
{
    color: var(--accent-color);
}

/* Sections */

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
}

.section-subtitle {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--title-text-color)
}

/* Button */

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    width: 200px;
    height: 50px;
}