/* основной цвет текста #757575 */
/* цвет текста шапки #ffffff */
/* цвет текста заголовков  #212121 */
/*  акцент #2196F3 */
/* дополнительный цвет фона  #F5F4FA */
/* фон героя #2F303A */


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --hero-footer-bg-color: #2F303A;
}


body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
}

a {
    text-decoration: none;
    /* Убираем подчёркивание */
}
ul {
    list-style: none;
}


/* Logo */

.logo-header,
.logo-footer{

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;


letter-spacing: 0.03em;

color: var(--accent-color);}

.logo-header span {
    color: #000000;
}
.logo-footer span {
    color: #ffffff;
}

/* Navigation */

.nav-list .nav-link {
    color: var(--title-text-color);
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
    
}


.nav-link.current {
    color: var(--accent-color);
    
}

.header-contacts {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    
}


/* Sections */

.hero {
    background-color: var(--hero-footer-bg-color);
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
}

.section-subtitle {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;

color: var(--title-text-color)
}

.section-subtitle.benefits {
    text-transform: uppercase;
}

/* Button */

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    width: 200px;
    height: 50px;
}





/* Footer */

.footer {
    background-color: var(--hero-footer-bg-color) ;

}

.address {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--primary-white-color);
}


.footer-contacts {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.address:hover,
.address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);

}
